<% layout('layouts/boilerplate') %>
  <h1>Edit</h1>
  <form action='/tweets/<%=tweet._id%>?_method=PUT' method='POST'>
    <div>
      <label for='tweetText'></label>
      <input type='text' id='tweetText' name='tweet[tweetText]' value='<%=tweet.tweetText %>'>
    </div>
    <button>Edit Tweet</button>
  </form>
  <a href="/tweets/<%= tweet._id%>">Back To Tweet</a>

