<% layout('layouts/boilerplate') %>
<div class='row'>
  <h1 class='text-center'>Edit Post</h1>
  <div class='col-6 offset-3'>
    <form action='/tweets/<%=tweet._id%>?_method=PUT' method='POST' novalidate class='validated-form'>
      <div class='mb-3'>
        <label class='form-label' for='tweetText'>150 Characters</label>
        <textarea class='form-control' type='text' id='tweetText' name='tweet[tweetText]' required><%=tweet.tweetText %></textarea>
        <div class='valid-feedback'>
          Looks good
        </div>
      </div>

      
      <div class='mb-3'>
        <label class='form-label' for='image'>Image URL</label>
        <input class='form-control' type='text' id='image' name='tweet[image]' value='<%=tweet.image %>'>
      </div>
      <div class='mb-3'>
        <button class='btn btn-info'>Update Tweet</button>
      </div>
    </form>
    <a href="/tweets/<%= tweet._id%>">Back To Tweet</a>
  </div>
</div>