<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweets</title>
</head>

<body>
  <h1>All Tweets</h1>
  <div>
    <a href="/tweets/new">Add Tweet</a>
  </div>
  <ul>
    <% for (let tweet of tweets) { %>
      <li><a href="/tweets/<%= tweet._id %>"><%= tweet.tweetText %></a></li>
    <% } %>
  </ul>
</body>

</html>