<% layout('layouts/boilerplate') %>
  <h1>All Tweets</h1>
  <div>
    <a href="/tweets/new">Add Tweet</a>
  </div>
 
    <% for (let tweet of tweets) { %>
      <div class="card">
        <h5 class="card-header">who liked eventually</h5>
        <div class="card-body">
          <h5 class="card-title">who posted</h5>
          <p class="card-text"><%= tweet.tweetText %></p>
          <a href="#" class="btn btn-primary">add buttons here</a>
        </div>
      </div>
    <% } %>
  
