<% layout('layouts/boilerplate') %>
  <form action='/tweets' method='POST'>
    <div>
      <label for='tweetText'></label>
      <input type='text' id='tweetText' name='tweet[tweetText]'>
    </div>
    <button>Post Tweet</button>
  </form>
  <a href="/tweets">All Tweets</a>
  
